node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

logs
*.log
logs/*.log
debug.log
*.pid
*.seed
*.pid.lock

cache
tmp
dist
build
.vscode
.idea
.next
out
coverage
public

Dockerfile
.dockerignore
.gitlab-ci.yml
.github

.git
.gitignore
.DS_Store
*.swp
*.swo

README.md
data
tests